<!DOCTYPE html>
<html>

<head>
    <title>View A Book</title>
    <meta charset='UTF-8' />
    <meta name='description' content='Full app using Pylot MVC' />
    <meta name='keywords' content='Pylot, forms, database, mySQL, routing' />

    <link rel='stylesheet' type='text/css' href="/static/css/styles.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script type='text/javascript' src="/static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

</head>

<body>
<nav>
    <ul>
        <li>
            <a href='/clear_session'>
                Logout
            </a>
        </li>
        <li>
            Single Book Page
        </li>
    </ul>
</nav>
    <div class='container'>

    </div>
        <!-- End container -->

</body>

</html>
